:host ::ng-deep .ui-dropdown {
  min-width: 50%;
}

:host ::ng-deep #ddpositioning .ui-dropdown {
  width: 100%;
}

:host ::ng-deep #ddAnaesthetic .ui-dropdown {
  width: 100%;
}

:host ::ng-deep #ddAntibiotics .ui-dropdown {
  width: 100%;
}

:host ::ng-deep #ddWhoChcklstPerform .ui-dropdown {
  width: 100%;
}

:host ::ng-deep #ddAffectedHow .ui-dropdown {
  width: 100%;
}

:host ::ng-deep #ddUnits .ui-dropdown {
  width: 100%;
}

/* :host ::ng-deep #lkpIndicatn .ui-autocomplete-token {
  display: none;
  visibility: collapse;
  overflow: hidden;
  white-space: nowrap;
  width: 0px;
  height: 0px;
  padding: 0px;
}

:host ::ng-deep #lkpIndicatn .ui-autocomplete-token-icon {
  visibility: collapse;
  overflow: hidden;
  white-space: nowrap;
  width: 0px;
  height: 0px;
}

:host ::ng-deep #lkpFindings .ui-autocomplete-token {
  display: none;
  visibility: collapse;
  overflow: hidden;
  white-space: nowrap;
  width: 0px;
  height: 0px;
  padding: 0px;
}

:host ::ng-deep #lkpFindings .ui-autocomplete-token-icon {
  visibility: collapse;
  overflow: hidden;
  white-space: nowrap;
  width: 0px;
  height: 0px;
}

:host ::ng-deep #lkpProblems .ui-autocomplete-token {
  display: none;
  visibility: collapse;
  overflow: hidden;
  white-space: nowrap;
  width: 0px;
  height: 0px;
  padding: 0px;
}

:host ::ng-deep #lkpProblems .ui-autocomplete-token-icon {
  visibility: collapse;
  overflow: hidden;
  white-space: nowrap;
  width: 0px;
  height: 0px;
} */

:host ::ng-deep #lkpStructuresAffected .ui-autocomplete-token {
  display: none;
  visibility: collapse;
  overflow: hidden;
  white-space: nowrap;
  width: 0px;
  height: 0px;
  padding: 0px;
}

:host ::ng-deep #lkpStructuresAffected .ui-autocomplete-token-icon {
  visibility: collapse;
  overflow: hidden;
  white-space: nowrap;
  width: 0px;
  height: 0px;
}

:host ::ng-deep #lkpFluidLoss .ui-autocomplete-token {
  display: none;
  visibility: collapse;
  overflow: hidden;
  white-space: nowrap;
  width: 0px;
  height: 0px;
  padding: 0px;
}

:host ::ng-deep #lkpFluidLoss .ui-autocomplete-token-icon {
  visibility: collapse;
  overflow: hidden;
  white-space: nowrap;
  width: 0px;
  height: 0px;
}

.pointer {
    cursor: pointer;
}

:host ::ng-deep .ui-state-active, :host ::ng-deep .ui-state-highlight{
  background-color:#006E53 !important;
  color: white !important;
}