

/*:host >>> .ui-dropdown {
  width: 200px;
  height: 38px;
}

:host >>> .ui-multiselect {
  width: 200px;
  padding: 0px;
  height: 38px;
}

:host >>> .ui-multiselect-label-container {
  height: 35px;
}*/


:host ::ng-deep .ui-autocomplete-token {
  display: none;
  visibility: collapse;
  overflow: hidden;
  white-space: nowrap;
  width: 0px;
  height: 0px;
  padding: 0px;
}

:host ::ng-deep .ui-autocomplete-token-icon {
  visibility: collapse;
  overflow: hidden;
  white-space: nowrap;
  width: 0px;
  height: 0px;
}

:host ::ng-deep .consultant .ui-autocomplete-input {
  height: 40px;
}

.pointer {
    cursor: pointer;
}